.yarn/cache
.yarn/install-state.gz
**/dist
**/node_modules
plugins
!plugins/scalprum-backend
!plugins/dynamic-plugins-info
!plugins/dynamic-plugins-info-backend
!plugins/auth-backend-module-oidc-provider
!plugins/catalog-backend-module-msgraph-transformer

*.local.yaml
coverage
dist-types
examples
