# to use this file, `pip install pip-tools -U` first (need >= 7.3), then 
# pip-compile --allow-unsafe --output-file=requirements-build.txt --strip-extras requirements-build.in

babel
calver==2022.6.26
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Cython==0.29.37
editables==0.5
flit_core==3.9.0
ghp-import==2.1.0
hatch-nodejs-version==0.3.2
hatch-requirements-txt
hatch-vcs==0.4.0
hatchling==1.25.0
idna==3.7
jinja2==3.1.5
markdown-inline-graphviz-extension==1.1.2
markdown==3.3.7
markupsafe==2.1.5
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mkdocs-material-extensions==1.3.1
mkdocs-material>=9.5.27
mkdocs-monorepo-plugin==1.1.0
mkdocs-techdocs-core==1.4.0
mkdocs==1.6.0
packaging==24.1
pathspec==0.12.1
plantuml-markdown @ https://github.com/mikitex70/plantuml-markdown/archive/fcf62aa930708368ec1daaad8b5b5dbe1d1b2014.zip#cachito_hash=sha256:a487c2312a53fe47a0947e8624290b2c8ea51e373140d02950531966b1db5caa
platformdirs==3.11.0
pluggy==1.5.0
pygments==2.17.2
pymdown-extensions==10.3.1
python-dateutil>=2.9.0.post0
python-slugify==8.0.4
pyyaml-env-tag==0.1
pyyaml==6.0.1
regex==2023.12.25
requests==2.32.3
setuptools
setuptools_scm<8.0
six==1.16.0
text-unidecode==1.3
tomli==2.0.1
trove-classifiers
typing-extensions
urllib3==2.2.2
watchdog==3.0.0
wheel
wheel==0.43.0
