# to use this file, `pip install pip-tools -U` first (need >= 7.3), then 
# pip-compile --allow-unsafe --output-file=requirements-build.txt --strip-extras requirements-build.in

# get a newer archive/commit SHA from github, then run cachito_hash.sh to update the sha256: hash
# must include from source because https://pypi.org/project/mkdocs-techdocs-core/1.3.3/#files source tarball is missing requirements.txt (so cachito poops itself)
mkdocs-techdocs-core==1.3.3
https://github.com/backstage/mkdocs-techdocs-core/archive/bbdab44e0d3aecfdc4e77b14c72b57791d4902b2.zip#egg=mkdocs-techdocs-core&cachito_hash=sha256:40421a5f43b11fd9ea9f92e107f91089b6bfa326967ad497666ab5a451fcf136

# get a newer archive/commit SHA from github, then run cachito_hash.sh to update the sha256: hash
# must include from source because https://pypi.org/project/plantuml-markdown/3.9.2/#files contains no source tarball (so cachito poops itself)
plantuml-markdown==3.9.2
https://github.com/mikitex70/plantuml-markdown/archive/17d348bfaa9112cdd2130e6410ce3a50224db3cf.zip#egg=plantuml-markdown&cachito_hash=sha256:221cc4972c75ba911cad4a56df07f61771c20077f8cbc8966181e30cabf68de1

babel
calver==2022.6.26
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Cython<3.0
editables>=0.3
flit_core<4,>=2
flit_core<4,>=3.2
flit_core<4,>=3.8
flit_core>=3.3
ghp-import==2.1.0
hatch-nodejs-version>=0.3.0
hatch-requirements-txt
hatch-vcs>=0.3
hatchling
hatchling<2,>=1.6.0
hatchling>=0.21.1
hatchling>=0.25.1
hatchling>=1.17.1
idna==3.7
jinja2~=3.1.4
markdown-inline-graphviz-extension~=1.1.2
markdown==3.2.2
markupsafe==2.1.4
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mkdocs-material-extensions==1.3.1
mkdocs-material==9.4.14
mkdocs-monorepo-plugin==1.1.0
mkdocs==1.5.3
packaging==23.2
packaging>=20
packaging>=21.3
pathspec==0.12.1
pathspec>=0.10.1
platformdirs==3.11.0
pluggy>=1.0.0
pygments==2.17.2
pymdown-extensions==10.3.1
python-dateutil==2.8.2
python-slugify==8.0.2
pyyaml-env-tag==0.1
pyyaml==6.0.1
regex==2023.12.25
requests==2.32.0
setuptools
setuptools_scm
setuptools-scm>=6.4.0
setuptools>=36.6
setuptools>=40.8.0
setuptools>=61
six==1.16.0
text-unidecode==1.3
tomli>=1
tomli>=1.2.2
trove-classifiers
typing-extensions
urllib3~=2.1.0
watchdog==3.0.0
wheel
wheel==0.42.0

# The following packages are considered to be unsafe in a requirements file:
pip==23.3.2
setuptools==68.2.2

