name: Nightly

on:
  schedule:
    - cron: '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: quay.io
  USERNAME: ${{ vars.QUAY_USERNAME }}
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Push with Buildx
        uses: ./.github/actions/docker-build
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
          imageName: ${{ env.IMAGE_NAME }}
          imageTags: |
            type=schedule,pattern={{date 'YYYYMMDD'}},prefix=nightly-
          imageLabels: quay.expires-after=14d
          push: true
